{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/zoomple.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/zoomple.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </head>

  <body>
    <header class="header">
      <h1 class="header_team-name"><a href="../list/">TEAM-C</a></h1>
    </header>
    {% block content %}
    {% endblock %}
  </body>

</html>
